:root {
    --darkbg: #171626;
    --lightbg: #212131;
    --blue: #0E7ADF;
    --green: #0EDFA7;
    --orange: #FF9761;
    --yellow: #FFE066;
    --grey: #737487;
    --lightgrey: #8C8EA5;
    --red: #FF4D5C;
}

@font-face {
    font-family: “Segoe”;
    src: url(assets/segoe-ui.ttf”) format(“truetype”);
    }
    
body {
    background-color: var(--darkbg);
    margin: 0;
    font-family: “Segoe”, sans-serif;
    color: white;
    text-align: center;
    overflow: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
    body::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }   

#title {
    width: 100vw;
    height: 80px;
    font-size: calc(14px + 1.5vw);
    font-weight: 600;
    margin: 0;
    vertical-align: auto;
    line-height: 90px;
    user-select: none;
    /* background-color: #0EDFA7; */
}

#selection-container {
    width: 60vw;
    display: block;
    /* background-color: green; */
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    user-select: none;
}
    #selection-group-1 {
        /* background-color: #FF9761; */
        height: fit-content;
        margin-bottom: 15px;
    }

    .page-option {
        /* background-color: #0EDFA7; */
        width: fit-content;
        height: 30px;
        padding-left: 20px;
        padding-right: 20px;
        line-break: auto;
        display: inline-block;
        color: var(--lightgrey);
        text-decoration: underline;
        font-weight: 500;
        letter-spacing: 0.4px;
        /* background-color: #FF4D5C; */
        border-radius: 5px;
    }
    .page-option:hover {
        filter: brightness(150%);
    }

#content {
    width: 80vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    /* background-color: #FFE066; */

}

#github-link {
    color: white;
    text-decoration: underline;
}


/* // // INTRO // //  */



/* // // DATASET // //  */
#data-table {
    overflow-x: scroll;
    overflow-y: hidden;
    height: fit-content;
}





/* // // PASSING NETWORK // //  */
#passing-network-graph {
    float: left;
    width: calc(60vw - 15px);
    height: calc((60vw - 15px) / 3 * 2);
}

#passing-dropdowns {
    /* background-color: #FF4D5C; */
    width: fit-content;
    height: fit-content;
    float: right;
}
    #passing-player-dropdown, #passing-team-dropdown {
        color: black;
        width: 20vw;
        /* background-color: #0EDFA7; */
        margin-bottom: 15px;
    }

/* // // HEATMAP // //  */
#heatmap-graph {
    float: left;
    width: calc(60vw - 15px);
    height: calc((60vw - 15px) / 3 * 2);
}
#heatmap-dropdowns {
    /* background-color: #FF4D5C; */
    width: fit-content;
    height: fit-content;
    float: right;
}
    #heatmap-player-dropdown, #heatmap-team-dropdown {
        color: black;
        width: 20vw;
        /* background-color: #0EDFA7; */
        margin-bottom: 15px;
    }


/* // // TIMELINE // //  */
#timeline-dropdowns {
    /* background-color: #FF4D5C; */
    width: fit-content;
    height: fit-content;
    float: right;
}
    #timeline-player-dropdown, #timeline-team-dropdown {
        color: black;
        width: 25vw;
        /* background-color: #0EDFA7; */
        margin-bottom: 15px;
    }

#pitch-figure-timeline {
    float: left;
    width: calc(55vw - 15px);
    height: calc((55vw - 15px) / 3 * 2);
}

#timeline-sliders {
        /* background-color: #FF9761; */
        width: fit-content;
        height: fit-content;
        float: left;
        margin-top: 15px;
    }
    #timeline-min-slider, #timeline-max-slider {
        width: calc(80vw - 50px);
    }